
.game-container{
  width: 90%;
  height: 45%;
  min-height: 280px;
  max-width: 300px;
  z-index: 50;
  border: 1px solid #E2C6E2;
  border-radius: 16px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: border 300ms ease;
  margin: auto;
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}

